.HeaderComp1 {
  color: white;
  background-color: #66cc99;
  border-top: 1px solid #66cc99;
  border-bottom: 1px solid #66cc99;
  text-align: center;
}

h1 {
  font-size: 3em; /* 高さと文字のサイズを調整 */
}

h2 {
  text-align: center; /* タイトルタグのテキストを中央に寄せる */
}

.postFormContainer {
  float: right;
  margin-right: 300px;
  margin-bottom: 40px;
}

/* スレッドリストのスタイル */
/* <li> 要素のスタイル */
.newThreadList {
  text-align: center;
  
  /* リスト内のテキストを中央に寄せる */
  width: 500px;
  margin: auto;
}

.createdThreadtable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.createdThreadtable td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.createdThreadtable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.createdThreadtable tr:hover {
  background-color: #ddd;
}

.createdThreadtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

.postTable{
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  width: 50%;
  margin-left: 380px;
}

/*新規ボタン右寄せ*/
.HeaderComp2 {
  width: 200px;
  height: 180px;
  font-size: 0.8em;
  position: fixed;
  top: 0px;
  right: 20px;
}

.submit {
  font-size: 1.8em;
}

.OnclickButton {
  font-size: 20px;
  text-align: center;
}

.intitle label {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intitle input {
  width: calc(50% - 50px); /* 残りの幅を入力フィールドに割り当てます */
  box-sizing: border-box; /* 幅がボーダーボックス内に収まるようにします */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}